.registro {
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 1em;
    padding-bottom: 0.5em;
    width: 50%;
    margin-top: 0;
    h3{
        color:#ffffff;
        text-align: center;
        font-size: 3em;
        margin-bottom: 0.3em;
    }
    
    .input{
        padding: 0,5em;
        margin: 0.5em;
    }
    
    span{
        display: flex;
        color: #ffffff;
        justify-content: center;
        padding: 1em;
    }

    a{
        padding-left: 0.5em;
        text-decoration: none;
        color: #ffffff;
    }
    
    a:hover{
        color: #02ffa1;
    }
    } 
    
    span.metodopago{
    color: #000000;
    }

    /*-------------------------------------------------
    ------------------Registro------------------
    /*-----------------------------------------------*/

    .bodyregistro{
        justify-content: center;
        align-items: center;
        display: flex;
    }


    .registroform{
    justify-content: center;
    align-items: center;

    button{
        display: flex;
        background-color: #02ffa1;
        text-transform: uppercase;
        width: 9em;
        height: 2.5em;
        border-radius: 1.1ch;
        font-weight:600;
        font-size: 1.1em;
        text-decoration: none;
        align-content: center;
        justify-content:center;
        text-align: center;
        color: black;
        margin-top: 3%;
    }
    }

    .regtrobutton{
        display: flex;
        justify-content: center;
        align-items: center;
    a{
        color: black;
    }}

    #registrarbutton{
        margin-right: 1em;
        margin-top: 0%;
        padding: 0.5rem;
    }

    #cancelarbutton{
    margin-left: 1em;
    margin-top: 0%;
    padding: 0.5rem;
    }


    .mainregistro{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    
    .paymethod{
        display: block;
        background-color: #02ffa1; 
        opacity: 80%;
        border-radius: 2em;
        width: 70%;
        align-content: center;
        margin: 15%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    #cbox1{
        margin-top: 0;
    }

    #cbox3{
        margin-left: 20%;
    }


    h3{
        text-align: center;
        padding-top: 0.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:1.5em;
        font-style: oblique;
    }
    
    
    span{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
    
    .metodopago{
        display: block;
        padding-top: 0.5em;
        padding-bottom: 0.1em;
        font-size: large;
        font-weight: 700;
    }
    
    .pagos{
        display: block;
        padding: 0.5em;
    }

    label#tarjetadecredito.pagos{
       display: flex;
       justify-content: center;
       align-items: center;
    }

    input#card_number{
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    input#sec_code{
        margin-left: 0.5em;
        width: 10%;
        justify-self: center;
    }
    
    /*-------------------------------------------------
    ------------------LOGIN & RECOVER------------------
    /*-----------------------------------------------*/
    
    
    body{
        /*display: flex;*/
        background-color: black;
        margin:0;
        background-image: url(../img/vanishing-stripes.svg);
        background-repeat: repeat;
        background-size: cover;
        }
        
        .login{
            height: 100vh;
            position: absolute;
            width: 100%;
        }
        .login_menu{
            display: flex;
            flex-direction: row;
            /*color: white;*/
            width: 100%;
            height: 100vh;
        }
        
        .login_data{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1%;
            margin-left: 2%;
            font-family:Arial, Helvetica, sans-serif;
            width: 90%;
            p{
                width: auto;
                margin:10px 0;
            }
        }
        
        .login_data h1{
            color: #f0f0f0;
            font-size: 3em;
            margin: 0;
            padding-bottom: 6%;
            
        }
        
        .login_input{
            color: #f0f0f0;
            font-size: 1.2em;
        }
        
        .forgot_pass{
            display: flex;
            color: #02ffa1;
            font-size: 1em;
            padding: 20px 0;
            padding-bottom: 0;
            text-decoration: none;
        }
        
        .input{
            height: 30px;
            background-color: transparent;
            border-color:#e2e2e2;
            border-width: 0px solid;
            width: 60%;
            color:white;
            border-radius: 0.5em;
        }
        
          
        
        .login_btn{
            display: flex;
            background-color: #02ffa1;
            text-transform: uppercase;
            width: 9em;
            height: 2.5em;
            border-radius: 1.1ch;
            font-weight:600;
            font-size: 1.1em;
            text-decoration: none;
            align-content: center;
            justify-content:baseline;
            text-align: center;
            color: black;
            margin-top: 3%;
        }
    
        button{
            text-align: center;
            justify-content: center;
            align-items: center;
            border: 0;
        }
        
        
        .register{
            color: #02ffa1;
            padding: 5px;
            font-family:Arial, Helvetica, sans-serif;
            border: solid 1px #02ffa1;;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
        
        }
        
        .create_acc{
            width: 40%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: 2%;  
            padding: 1% 0;
        }
    
        .register:hover{
            color: #000;
            background-color: #02ffa1;
            font-weight: 600;
        }
    
        button:hover{
           opacity: 80%;
        }
    
        .forgot_pass:hover{
            color: #ff0160;
        }

        button#cancelarbutton:hover{
            background-color: #ff0160;
        }

        .logo{
            width: 10rem;
            padding-bottom: 10rem;

        }


/*-------------------------------------------------
-----------------------HEADER------------------------
/*-----------------------------------------------*/

.home_header{
    display: flex;
    flex-direction: column;
}

.navbar .menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-color: gray;*/
   }

.menu_link{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-decoration: none;
}

.menu_link:hover{
    color: #02ffa1;
    opacity: 80%;
}

.navbar .menu .menu_item{
    padding: 30px;
    width: 100%;
    color: white;
}img{
    height: 40px;
}


.search_form{
    margin: 3em;
    display: flex;
    justify-content: space-around;
}


/*-------------------------------------------------
-----------------------HOME------------------------
/*-----------------------------------------------*/

.img_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    margin: 6em 4em 3em 4em;
  }  

  .img_container img:hover{
    opacity: 50%;
  }
  
  .img_item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .search_container{
    input{
        width: 175%;
        border-radius: 0.5em;
    }
}

.select_category_home{
    margin-left: 1em;
}

/*-------------------------------------------------
-----------------------PERFIL----------------------
/*-----------------------------------------------*/

.profile_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin-top: 8%;
    margin-right: 10em;
    margin-left: 10em;
}

.profile_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    justify-content: space-around;
    align-items: flex-start;
    p{
        margin: 0;
        padding: 0;
    }
}

.user_info, .payment_info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 1em;
    margin-top: 1em;

    p{
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    label{
        padding-top: 0.5em;
    }

}
.user_pic{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
}img{
    height: auto;
    width: 35%;
}


.info_text{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
}

.changepass{
    margin-left: 1em;
}

.savechanges, .cancelsuscription{
    width: 50%;
    margin-top: 2em;
    justify-content: center;
    justify-self: center;
    background-color: #02ffa1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 1em;
    padding: 1em;
}

.cancelsuscription:hover{
    background-color: #ff0160;
}a{
    text-decoration: none;
    color: black
}

/*-------------------------------------------------
-----------------------Vista Pelis/Pelis----------------------
/*-----------------------------------------------*/


.buttoncomenzar{
    text-transform: uppercase;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding: 1em;
    margin-top: 2em;
}

.buttoncomenzar:hover{
background-color: #02ffa1;
font-weight: 600;
}

.vista-peli-img{
margin-left: 1em;
}

.movie_view{
 display: flex;
 width: 100%;
 margin-top: 2em;

 article{
    width: 50%;
 }

 .form_button{
    display: flex;
    justify-content: center;
 }
}

.movie_container{

display: flex;
justify-content: center;

video{
width: 75%;
border: solid #3b3b3b;
}

.vista-peli-img{
    display: block;
}
}


.temp_cap_selector{
display: flex;
margin: 12px 0px;
justify-content: space-between;
width: 50%;

h3{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
}

.select_container{
display: flex;

label{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
} 
}

.select_category{
border-radius: 0.5em;
margin-left: 0.5em;
}

.detail_movie{
display: flex;
align-items: baseline;

p{
    margin-left: 1em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h3{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style:normal;
    margin: 0;
}

.name_actors{
    text-decoration: none;
    color: white;
}
}

.resume{
align-items: baseline;
width: 85%;
margin-right: 3em;

p{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h3{
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style:normal;
}
}

.recommendations{
    h2{
        margin-top: 3em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
    }

    .img_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 15px;
        margin: 2em 4em 3em 4em;
      }  
}

.savechanges_buttons_container{
    display: flex;
    .cancelsuscription{
        margin-left: 1em;
        height: auto;
    }
}


/*-------------------------------------------------
-----------------------@media mobile---------------
/*-----------------------------------------------*/

@media (max-width:1024px){
    *{
        margin: 0;
        padding: 0;
    }

    /******HEADER*****/
    .navbar .menu .menu_item{
        padding: 15px 0;}


    /******LOGIN*****/
    .login_container{
        background: url(../img/series-banner-mob.png) ;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }
    #bannerimg{
        display: none;
    }
    
 
    .login_data{
        width: 100%;

    }
    .login_data{
        padding:  1rem;
        margin-left: 1rem;
    }
    .login_data h1{
        font-size: 2rem;
    }
    .create_acc{
        padding: 1rem;
        margin: 0;
    }
    .login_btn{
        margin-top: 2rem;
    }

    .input{
        width: 100%;
    }


    /******Crear usuario******/

.mainregistro{
    width: 100%;
}

.paymethod{
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
}

.pagos{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;


#cbox3{
    margin: 0%;
}
}

#tarjetadecredito{
    width: 100%;

    #card_number{
        width: 95%;
        margin: 0%;
        margin-top: 0.1rem;
    }

    #sec_code{
        width: 95%;
        margin: 0%;
        margin-top: 0.1rem;
}    
}

.registroform span{
    flex-direction: column;
}

.registroform a{
    margin-top: 0.5rem;
}

.regtrobutton{
    padding: 0.5rem;
}

 /******HOME******/

.img_container{
    display: flex;
    flex-direction: column;
}
.select_container_home{
    padding: 0;
    margin-right: 1rem;
}

.search_container input{
    width: auto;
    text-align: center;
}

.menu{
    flex-direction: column;
}

.search_form{
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

 /******Vista Perfil******/
.profile_container{
    margin: 0;
    flex-direction: column;
}


.profile_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_text{
    text-align: center;
}

.payment_info{
    text-align: center;
}

.user_pic{
    margin-bottom: 2em;
}

 /******Vista Pelis y series******/

.movie_view{

    display: flex;
    flex-direction: column;
    align-items: center;

        article{
            width: 90%;
        }
}

.detail_movie{
    display: flex;
    margin: 1em 0em;
    align-items: flex-end;
}

.buttoncomenzar{
    width: auto;
}

.movie_container video{
    width: 100%;
    }

.movie_container img{
    overflow: hidden;
}

.description{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.resume{
    margin: 0;

    p{
        margin-top: 1em;
    }
}


.recommendations{
    display: flex;
    flex-direction: column;
   
    .img_container{
        display: flex;
        margin: 0 1rem;
    }

}

.temp_cap_selector{
    display: flex;
    flex-direction: column;
}

.select_container{

    display: flex;
    align-items: baseline;

        label{
            margin-top: 1em;
        }
}















} /*FIN QUERY MOBILE*/



        

/*-------------------------------------------------
-----------------------@media tablet---------------
/*-----------------------------------------------*/

@media (max-width:768px) and (max-width:1023px){

}

@media (min-width:1024px){

}